<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo mt-2 " style="font-size: 25px;">
        Drug Supply Management System
    </a>
    <ul>
      <li><a (click)="handleLoginAction()"><button class="btn btn-success">Login</button></a></li>
      <li><a (click)="handleSignupAction()"><button class="btn btn-light">SignUp</button></a></li>
      <li><a (click)="handleForgotPasswordAction()"><button class="btn btn-danger">Forgot Password?</button></a></li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>All right reserved</h2>
</div>